body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.body{
    background-color: rgb(105, 100, 100);
}



img{
    width: 20%;
    height: 20em;
}

.bar{
    background-color: rgb(105, 100, 100);
    height: 5em;
    color: rgb(105, 100, 100);
    font-size: 30px;
    font-family:'Righteous', cursive;
    text-align: center;
    transition: 1s;

}
.bar2{
    background-color: rgb(105, 100, 100);
    height: 5em;
    color: rgb(105, 100, 100);
    

}

.bar:hover{
    height: 3em;
    transition: all ease-in-out;
    background-color: rgb(105, 100, 100);
    transition-duration: 2s;
    color: white;
}    

.front{
    background-image: url(../img/sala.jpg);
    height: 15em;
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.front:hover{

    height: 20em;
    transition: all ease-in-out 1s;  
    
}


.beauty{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: rgb(255, 255, 255);   

}
.beauty2{
    
    font-size: 20px;
    color: rgb(17, 17, 17);   

}

.text{
    height: 320px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;

}

.img3{
    width: 100%;
}

@media (max-width:1000px){
    .responsive{
        width: 82%;
    }

}
@media (max-width:720px){
    .responsive{
        width: 82%;
    }

}

@media (max-width:400px){
    .responsive{
        width: 90%;
        font-size: 10px;
    }
}    


@media (max-width:300px){
    .responsive{
        justify-content: left;
        width:90%;    
    }
    .text{
        display: none;
    }

}

.parallax{
    height: 200px;
    background-image: url(../img/portada3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    align-items: center;
}

.parallax p{
    background-color: rgba(243, 243, 243, 0.158);
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Righteous', cursive; ;
    
    

}




/* .size{
    height: 20em;
} */


.pic{
    width: 70%;
    height: 70%;
    margin-top: 5px;
    
}

.pic1{
    width: 100%;
    height: 100%;
   
    
}

.viñeta{
    text-align: center;
    text-justify: center;

}


/* Página de contaacto */

.contacto{
    height: 300px;
    background-color: rgb(105, 100, 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
} 
.contacto:hover{
    height: 400px;
   transition: all ease-in-out 1s;
  
}
.contacto h1:hover{
    height: 400px;
   transition: all ease-in-out 1s;
   
}
   



.filling{
    width: 200px;
    height: 50px;
    margin: 5px;
    border-radius: 5%;
    display: flex;
}
.btn{
    width: 200px;
    height: 50px;
    background-color:rgb(173, 95, 26);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}

.btn:hover{
    background-color: rgb(36,34, 34);
    color: rgb(173, 95, 26);
}

.rrss{
    width: 100%;
    height:20% ;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
   
}

.rrss2{
    
    width: 100%;
    height: 20%;
    background-color: rgb(105, 100, 100);
    justify-content: center;
    align-items: center;
    display: flex;
}

h1{
    font-size: 30px;
    color: rgb(173, 95, 26);
    display: flex;

}